In [2]:
import pandas as pd

In [3]:
#cargar datos del club
datos_cebollitas = pd.read_csv('partidos_cebollitas.csv')
datos_cebollitas.head(10)

,fecha_partido,equipo_local,equipo_visitante,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio
0,2023-01-01,Atlético Python,Cebollitas FC,2,0,54,46,12,6,Python Arena
1,2023-01-08,NumPy City,Atlético Python,1,5,60,40,12,3,Estadio ML
2,2023-01-15,Cebollitas FC,Data United,1,0,55,45,10,7,Python Arena
3,2023-01-22,Atlético Python,Data United,2,3,57,43,3,3,Campo Pandas
4,2023-01-29,Data United,Cebollitas FC,5,3,52,48,7,12,Estadio ML
5,2023-02-05,Data United,Cebollitas FC,3,3,60,40,8,11,Python Arena
6,2023-02-12,Data United,Real Pandas,4,1,49,51,4,8,Estadio ML
7,2023-02-19,Cebollitas FC,Real Pandas,1,2,56,44,5,5,Estadio ML
8,2023-02-26,NumPy City,Data United,1,5,60,40,9,9,Estadio DataCamp
9,2023-03-05,Atlético Python,Cebollitas FC,1,4,43,57,10,7,Estadio ML

In [4]:
#revisar informacion general
datos_cebollitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha_partido           100 non-null    object
 1   equipo_local            100 non-null    object
 2   equipo_visitante        100 non-null    object
 3   goles_local             100 non-null    int64
 4   goles_visitante         100 non-null    int64
 5   posesion_local (%)      100 non-null    int64
 6   posesion_visitante (%)  100 non-null    int64
 7   tiros_arco_local        100 non-null    int64
 8   tiros_arco_visitante    100 non-null    int64
 9   estadio                 100 non-null    object
dtypes: int64(6), object(4)
memory usage: 7.9+ KB

In [5]:
#encontrar y manejar datos faltantes
datos_cebollitas.isnull().sum()
datos_cebollitas['goles_local'] = datos_cebollitas['goles_local'].fillna(datos_cebollitas['goles_local'].mean())
print('valores nulos antes de imputacion:')
print(datos_cebollitas.isnull().sum())

valores nulos antes de imputacion:
fecha_partido             0
equipo_local              0
equipo_visitante          0
goles_local               0
goles_visitante           0
posesion_local (%)        0
posesion_visitante (%)    0
tiros_arco_local          0
tiros_arco_visitante      0
estadio                   0
dtype: int64

In [6]:
# ONE-HOT encoding para equipos
datos_preparados = pd.get_dummies(datos_cebollitas, columns=['equipo_local', 'equipo_visitante'])
datos_preparados.head(10)

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,equipo_local_Atlético Python,equipo_local_Cebollitas FC,equipo_local_Data United,equipo_local_NumPy City,equipo_local_Real Pandas,equipo_visitante_Atlético Python,equipo_visitante_Cebollitas FC,equipo_visitante_Data United,equipo_visitante_NumPy City,equipo_visitante_Real Pandas
0,2023-01-01,2,0,54,46,12,6,Python Arena,1,0,0,0,0,0,1,0,0,0
1,2023-01-08,1,5,60,40,12,3,Estadio ML,0,0,0,1,0,1,0,0,0,0
2,2023-01-15,1,0,55,45,10,7,Python Arena,0,1,0,0,0,0,0,1,0,0
3,2023-01-22,2,3,57,43,3,3,Campo Pandas,1,0,0,0,0,0,0,1,0,0
4,2023-01-29,5,3,52,48,7,12,Estadio ML,0,0,1,0,0,0,1,0,0,0
5,2023-02-05,3,3,60,40,8,11,Python Arena,0,0,1,0,0,0,1,0,0,0
6,2023-02-12,4,1,49,51,4,8,Estadio ML,0,0,1,0,0,0,0,0,0,1
7,2023-02-19,1,2,56,44,5,5,Estadio ML,0,1,0,0,0,0,0,0,0,1
8,2023-02-26,1,5,60,40,9,9,Estadio DataCamp,0,0,0,1,0,0,0,1,0,0
9,2023-03-05,1,4,43,57,10,7,Estadio ML,1,0,0,0,0,0,1,0,0,0

In [7]:
#eliminar filas duplicadas

print("filas antes de eliminar duplicados:", len(datos_preparados))

datos_preparados.drop_duplicates(inplace=True)
print('filas despues', len(datos_preparados))

filas antes de eliminar duplicados: 100
filas despues 100

In [8]:
#manejar fechas
datos_preparados['fecha_partido'] = pd.to_datetime(datos_preparados['fecha_partido'],errors='coerce')

print('fechas invalidas (NaT) luego de la conversion')
print(datos_preparados['fecha_partido'].isnull().sum())

fechas invalidas (NaT) luego de la conversion
0

Resumen de Limpieza:

In [9]:
print(datos_preparados.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   fecha_partido                     100 non-null    datetime64[ns]
 1   goles_local                       100 non-null    int64
 2   goles_visitante                   100 non-null    int64
 3   posesion_local (%)                100 non-null    int64
 4   posesion_visitante (%)            100 non-null    int64
 5   tiros_arco_local                  100 non-null    int64
 6   tiros_arco_visitante              100 non-null    int64
 7   estadio                           100 non-null    object
 8   equipo_local_Atlético Python      100 non-null    uint8
 9   equipo_local_Cebollitas FC        100 non-null    uint8
 10  equipo_local_Data United          100 non-null    uint8
 11  equipo_local_NumPy City           100 non-null    uint8
 12  equipo_local_Real Pandas          100 non-null    uint8
 13  equipo_visitante_Atlético Python  100 non-null    uint8
 14  equipo_visitante_Cebollitas FC    100 non-null    uint8
 15  equipo_visitante_Data United      100 non-null    uint8
 16  equipo_visitante_NumPy City       100 non-null    uint8
 17  equipo_visitante_Real Pandas      100 non-null    uint8
dtypes: datetime64[ns](1), int64(6), object(1), uint8(10)
memory usage: 8.0+ KB
None

In [10]:
print('columnas con nulis tras la limpieza:')
print(datos_preparados.isnull().sum())

columnas con nulis tras la limpieza:
fecha_partido                       0
goles_local                         0
goles_visitante                     0
posesion_local (%)                  0
posesion_visitante (%)              0
tiros_arco_local                    0
tiros_arco_visitante                0
estadio                             0
equipo_local_Atlético Python        0
equipo_local_Cebollitas FC          0
equipo_local_Data United            0
equipo_local_NumPy City             0
equipo_local_Real Pandas            0
equipo_visitante_Atlético Python    0
equipo_visitante_Cebollitas FC      0
equipo_visitante_Data United        0
equipo_visitante_NumPy City         0
equipo_visitante_Real Pandas        0
dtype: int64

In [11]:
print('vista final del dataset limpio:')
display(datos_preparados.head(10))

vista final del dataset limpio:

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,equipo_local_Atlético Python,equipo_local_Cebollitas FC,equipo_local_Data United,equipo_local_NumPy City,equipo_local_Real Pandas,equipo_visitante_Atlético Python,equipo_visitante_Cebollitas FC,equipo_visitante_Data United,equipo_visitante_NumPy City,equipo_visitante_Real Pandas
0,2023-01-01,2,0,54,46,12,6,Python Arena,1,0,0,0,0,0,1,0,0,0
1,2023-01-08,1,5,60,40,12,3,Estadio ML,0,0,0,1,0,1,0,0,0,0
2,2023-01-15,1,0,55,45,10,7,Python Arena,0,1,0,0,0,0,0,1,0,0
3,2023-01-22,2,3,57,43,3,3,Campo Pandas,1,0,0,0,0,0,0,1,0,0
4,2023-01-29,5,3,52,48,7,12,Estadio ML,0,0,1,0,0,0,1,0,0,0
5,2023-02-05,3,3,60,40,8,11,Python Arena,0,0,1,0,0,0,1,0,0,0
6,2023-02-12,4,1,49,51,4,8,Estadio ML,0,0,1,0,0,0,0,0,0,1
7,2023-02-19,1,2,56,44,5,5,Estadio ML,0,1,0,0,0,0,0,0,0,1
8,2023-02-26,1,5,60,40,9,9,Estadio DataCamp,0,0,0,1,0,0,0,1,0,0
9,2023-03-05,1,4,43,57,10,7,Estadio ML,1,0,0,0,0,0,1,0,0,0

In [12]:
print("shape final del dataset preparado", datos_preparados.shape)

shape final del dataset preparado (100, 18)